{# app/Resources/views/editAccount.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit alias</h1>


    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}